@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#ff3838;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var(--red);
  color:rgb(114, 8, 8);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background:#49015d;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}

.heading span{
  color:var(--red);
}

.btn{
  display: inline-block;
  padding:.8rem 3rem;
  border:.2rem solid yellow;
  color:yellow;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background: rgb(63, 2, 84);
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before{
  width:100%;
  left: 0;
}

.btn:hover{
  color:rgb(246, 246, 235);
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 1000;
  display: flex;
  

  align-items: center;
  justify-content: space-between;
  background:rgb(202, 220, 4);
  padding:2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:rgb(34, 0, 0);
}

header .logo i{
  padding-right: .5rem;
  color:var(--red);
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 800;
  color:rgb(34, 0, 0);
}

header .navbar a:hover{
  color:rgb(126, 9, 126);
}

#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color:rgb(183, 56, 56);
  border:.1rem solid #666;
  border-radius: .3rem;
  padding:.5rem 1.5rem;
  display: none;
}
.heading{
  margin-top: 10rem;
  color: #333;
  font-size: 3.5rem;
  padding: 1rem;
  padding-top: 1.3rem;
  text-align: center;
  letter-spacing: .2rem;

}
.heading span{
  color: aqua;

}
.feature{
 width: 100%;
}
.feature .heading{
  color: #dae5e6;
}

.feature .card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.feature .card-container .card{
    width: 23rem;
    margin: 3.5rem;
   padding: 2rem;
    background: rgba(255,255,255,0.1);
    border: 1.5px solid black;
    box-shadow: 3px 3px 10px rgb(239, 239, 5);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.feature .card-container .card img{
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.feature .card-container .content{
   padding-top: 1rem;
    padding-bottom: .7rem;
    text-align: center;
}

.feature .card-container .content .title{
     font-size: 2.5rem;
    color: rgb(237, 255, 247);
}

.feature .card-container .content p{
    color: rgb(255, 178, 11);
    font-size: 1.1rem;
    padding: .4rem;
}

.feature .card-container .content .btn{
    font-size: 1.5rem;
    margin-top: 1rem;
    height: 3rem;
    padding: 1px;
    width: 10rem;
    border-radius: .5rem;
    outline: none;
    border: 1px solid purple;
    background: rgb(2, 48, 60);
    color: #fff;
    cursor: pointer;
    transition: .2s linear;
}
.feature .card-container .content .btn:hover{
background: none;
border: 2px solid rgb(216, 230, 28);
color: rgb(227, 224, 13);
}

.feature .card-container .card .discount{
    position: absolute;
    top: 1rem ;
    left: 1rem;
    display: block;
    height: 3rem;
    width: 5.5rem;
    background: #ff3300;
    color: #fff;
    line-height: 4rem;
    text-align: center;
    border-radius: .5rem;
    font-size: 1.5rem;
}


.footer{
  background:rgb(13, 14, 11);
  text-align: center;
  position: absolute;
  width: 100%;
}

.footer .share{
  display: flex;
  gap:1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit{
  padding:2.5rem 1rem;
  color:#fff;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span{
  color:yellow;
}

#scroll-top{
  position: fixed;
  top:-120%;
  right:2rem;
  padding:.5rem 1.5rem;
  font-size: 4rem;
  background:var(--red);
  color:#fff;
  border-radius: .5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active{
  top:calc(100% - 12rem)
}














/* media queries  */

@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media(max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background: #f7f7f7;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    margin: 1.5rem;
    padding:1.5rem;
    display: block;
    border:.2rem solid rgba(0,0,0,.1);
    border-left:.5rem solid var(--red);
    background:#fff;
  }

}

@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .order .row form .inputBox input{
    width:100%;
  }

}